* {
    margin: 0%;
    padding: 0%;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin smallbox($color, $margin-top, $font-size) {
    color: $color;
    margin-top: $margin-top;
    font-size: $font-size;
}

//版心
.center {
    width: 1080px;
    margin: 0 auto;
}

//侧边公共部分设置
#Sidelist {

    //整体
    ul {
        box-shadow: 0px 0px 15px rgb(227, 224, 224);
        width: 81px;
        height: 354px;
        position: fixed;
        top: 220px;
        right: 10px;
        padding: 0 5px;
        box-sizing: border-box;
        z-index: 100;
        background-color: #fff;

        //每一个格子
        li {
            height: 70px;
            border-bottom: 1px solid #e7e7e7;
            text-align: center;
            padding-top: 13px;
            box-sizing: border-box;
            position: relative;

            //图标和字体跳转设置
            a {
                text-decoration: none;
                display: block;
                color: #333;

                &:hover {
                    color: #845f3f;
                }

                span {
                    font-size: 12px;
                }

                i {
                    font-size: 26px;
                }
            }

            //被隐藏盒子的样式
            .hidden {
                display: none;
                position: absolute;
                top: 0;
                right: 70px;
                padding-right: 15px;
                z-index: 4;

                //隐藏内容的通用设置
                .box {
                    box-shadow: 0px 0px 15px rgb(227, 224, 224);
                    font-size: 12px;
                    padding: 10px 18px;
                    border: 1px solid #dfdfdf;
                    background: #fff;
                    position: relative;
                    z-index: 5;

                    div {

                        //侧边公共样式图片大小设置
                        .size {
                            width: 88px;
                            height: 88px;
                        }

                        .size2 {
                            width: 190px;
                            height: 152px;
                        }
                    }
                }

                //侧边第一个小格隐藏部分设置
                .first {
                    width: 190px;
                    height: 256px;
                    background-color: #fff;

                    .plaint {
                        @include smallbox(#333, 8px, 12px);
                    }

                    .phpne {
                        @include smallbox(#845f3f, 15px, 20px);
                    }

                    .date {
                        @include smallbox(#666, 1px, 12px);
                    }

                    .hotline {
                        @include smallbox(#333, 18px, 12px);
                    }

                    .service {
                        @include smallbox(#845f3f, 15px, 20px);
                    }

                    .data2 {
                        @include smallbox(#666, 1px, 12px);
                    }
                }

                //侧边第二个小格隐藏部分设置
                .second {
                    width: 120px;
                    padding: 8px;

                    div {
                        margin-top: 12px;
                    }

                    p {
                        margin-top: 12px;
                    }
                }

                //第三个
                .thild {
                    .img2 {
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }

                //第四个
                .four {
                    width: 155px;

                    div {
                        margin-top: 15px;
                        margin-bottom: 14px;
                    }
                }
            }

            //划过li 显示隐藏的盒子
            &:hover .hidden {
                display: block;
            }
        }

        // 最后一个格子的设置
        .last {
            border: none;
        }
    }
}

//顶部登陆成功后隐藏样式设置
.success {
    box-shadow: 0px 0px 5px #666;
    display: none;
    width: 100px;
    height: 180px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 48px;
    background-color: #fff;

    a {
        display: block;
        height: 30px;
        width: 100px;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-color: brown;
            color: #fff;
        }
    }

    div {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100px;
        height: 20px;
    }
}

//顶部黑色部分设置
#Navigation {
    height: 48px;
    background-color: #333;

    //大盒子
    & ul {
        height: 48px;
        float: right;
        font-size: 14px;

        //每一格的设置
        li {
            float: left;
            padding: 0 14px;
            border-right: 1px solid #666;
            line-height: 14px;
            margin-top: 16px;

            a {
                color: #cbcbcb;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }

            //字体图标设置手机
            i {
                font-size: 22px;
                margin-right: 2px;
                color: #b7b7b7;
                vertical-align: middle;
            }
        }

        //登陆成功第一格的样式
        .sli {
            color: #fff;
            text-align: center;
            width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;

            a {
                color: #fff;
                cursor: pointer;
            }

            i {
                position: absolute;
                left: 80px;
            }
        }

        //最后一格的设置
        .last {
            margin: 0;
            height: 48px;
            line-height: 48px;
            padding-right: 0;
            border: 0;

            //划过最后一格显示的样式
            .go {
                box-shadow: 0px 0px 5px #666;
                display: none;
                width: 150px;
                height: 60px;
                line-height: 30px;
                font-size: 14px;
                text-align: center;
                position: relative;
                top: -1.5px;
                left: -10px;
                background-color: #fff;

                //每一行的设置
                a {
                    display: block;
                    height: 30px;
                    width: 150px;
                    color: black;

                    &:hover {
                        background-color: brown;
                    }
                }
            }

            //字体图标设置 最右边下箭头的设置
            i {
                margin-right: 8px;
                margin-left: 10px;
            }

            //划过最后一格显示隐藏
            &:hover {
                .go {
                    display: block;
                }
            }
        }
    }
}

//弹出层
#mark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.595);
    position: absolute;
    z-index: 5000;
    left: 0;
    top: 0;
    display: none;

    .float {
        width: 452px;
        height: 296px;
        background: #fff;
        position: fixed;
        z-index: 5001;
        top: 208px;
        padding: 0 40px;
        box-sizing: border-box;

        .x {
            font-size: 25px;
            position: absolute;
            z-index: 5002;
            right: 12px;
            top: 2px;
            color: black;
            cursor: pointer;
        }

        h3 {
            margin-top: 40px;
            text-align: center;
            font-weight: 500;
        }

        p {
            margin-top: 30px;
            font-size: 14px;

            span {
                color: #9f8052;
            }
        }

        div {
            margin-top: 30px;

            input {
                text-decoration: none;
                outline: none;
                width: 178px;
                height: 40px;
                cursor: pointer;
                border-radius: 2px;
                font-size: 18px;
                border: 1px solid #9f8052;
            }

            .one {
                background-color: #9f8052;
                margin-right: 15px;
                color: #fff;

                &:hover {
                    opacity: 0.7;
                }
            }

            .two {
                color: #9f8052;

                &:hover {
                    color: #fff;
                    background-color: #9f8052;
                }
            }
        }
    }
}

//第二模块滚动到一定距离的样式设置
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-top: 0;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

//黑色区域下方  轮播图上方 设置
#Search {
    //整体一行设置
    height: 71px;
    padding-top: 20px;
    margin-bottom: 5px;
    box-sizing: border-box;

    & .search- {
        height: 51px;

        .img {
            display: block;
            width: 123px;
            height: 51px;
            float: left;
            background: url(../img/6.png) 50% no-repeat;
            background-size: contain;
        }

        ul {
            float: left;
            margin-right: 302px;
            margin-left: 126px;

            li {
                margin-top: 15px;
                float: left;
                margin-left: 23px;
                font-size: 17px;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: #666;
                    font-size: 18px;

                    &:hover {
                        color: brown;
                    }
                }
            }
        }

        .input {
            width: 280px;
            height: 28px;
            margin-right: 26px;
            margin-top: 14px;
            float: left;
            border-bottom: 1px solid #e7e7e7;
            box-sizing: border-box;

            input {
                outline: none;
                width: 238px;
                height: 26px;
                border: 0;
            }

            a {
                text-decoration: none;
                vertical-align: middle;

                i {
                    font-size: 24px;
                    margin-right: 12px;
                    color: #333;

                    &:hover {
                        color: brown;
                    }
                }
            }
        }

        .go {
            width: 33px;
            height: 28px;
            float: left;
            margin-top: 15px;

            a {
                display: block;
                width: 30px;
                height: 28px;
                text-decoration: none;

                i {
                    font-size: 24px;
                    color: #333;

                    &:hover {
                        color: brown;
                    }
                }
            }
        }
    }
}