@import 'public';

#List {
    height: 358px;
    //左边列表部分
    & .list {
        width: 221px;
        height: 358px;
        float: left;
        //所有li的大盒子
        ul {
            box-sizing: border-box;
            padding: 12px 0;
            width: 221px;
            height: 358px;
            background-color: #9f8052;
            line-height: 34px;
            overflow: hidden;
            position: relative;
            z-index: 1000;
            //每一个li
            li {
                font-size: 14px;
                padding: 0 30px;
                box-sizing: border-box;
                color: #fff;

                span {
                    margin-left: 3px;
                }

                .s1:hover {
                    color: #dfaf7e;
                }
                &:hover{
                    background-color: rgba($color: #000000, $alpha: 0.15);
                }
            }

            &:hover {
                height: 460.8px;
            }
        }
    }
    //轮播部分
    & .slide {
        float: left;
        width: 859px;
        height: 358px;
        background-color: aqua;
    }
}

#Viewlist {

    //五个大图标的大盒
    ul {
        overflow: hidden;
        margin-top: 28px;
        padding: 0 28px;
        box-sizing: border-box;
        border-bottom: 1px solid #e7e7e7;
        height: 160px;
        position: relative;
        z-index: 100;

        //每个图标
        li {
            float: left;
            margin-right: 110px;

            // 跳转功能和设置基础样式
            a {
                text-decoration: none;
                display: block;
                width: 116px;
                height: 139.2px;
                text-align: center;

                img {
                    width: 116px;
                    height: 116px;
                }

                span {
                    font-size: 14px;
                    color: #000;
                }
            }
        }

        // 最后一个大图标的设置
        .last {
            margin: 0;
        }
    }
}